body, head, html {
  margin:0px;
  padding:0px;
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  background-color:rgb(229, 223, 190);
  height:1050px;
}

.navbar-brand {
  color:#333333;
  margin-top:.5em;
}

.navbar li {
  padding:0px 30px 0px 30px;
  font-size:18px;
  text-align: center;
  font-family: sans-serif;
}

.navbar a {
  color:#1d1e22;
}

.navbar a:hover {
  color:#8c8c8c;
  text-decoration:none;
}

.budgetContainer {
  margin-left:110px;
  margin-right:100px;
  width:35%;
  float:left;
}

.buttonHeader {
  margin-top:30px;
  width:8em;
  background-color:rgb(128, 171, 3, 0.6);
  padding:10px;
  border-radius:4px 4px 0px 0px;
  border:none;
  color:white;
}

.budgetQuestions {
  padding:30px 0px 30px 40px;
  background-color:#F8F9FA;
  height:450px;
  text-align:left;
  border-radius:0px 4px 4px 4px;
  box-sizing:border-box;
  border:5px solid #ada0ae;
}

.budgetQuestions h4 {
  font-weight:bold;
  font-size:28px;
  margin-bottom:35px;
}

.budgetQuestions label {
  width:10em;
  margin-right:20px;
  font-size:14px;
}

.budgetQuestions input {
  width:10em;
  margin-bottom:10px;
}

.submitButton {
  background-color:#84b000;
  border:none;
  width:10em;
}

.hidden {
  display:none;
}

#incomeButton {
  background-color:rgb(128, 171, 3);
}

.buttonHeader:focus {
  outline:none;
}


#incomeBreakdown {
  display:inline-block;
  width:40%;
  float:left;
  margin-top:65px;

}
